.navbar-items-list {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  margin: 0vw 20vw;
  height: 4rem;

}

.navbar-items-list > li a {
  text-decoration: none;
  color: white;
  font-weight: 300;
  padding: 1rem;
  cursor: pointer;
}

.navbar-items-list > li a.active,
.navbar-items-list > li a:hover {
  color: rgb(0, 192, 199);
}


.down-arrow-icon-box {
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


.down-arrow-icon {
  width: 60%;
}

.down-arrow-icon path {
  fill: white;
}

.down-arrow-icon-box:hover .down-arrow-icon path{
  fill: var(--primary-cyan);
}
/* .down-arrow-icon-box-cross:hover .down-arrow-icon path{
  fill: var(--primary-red);
} */



.dropdown {
  position: relative; 
  
}



/* .down-arrow-icon-box .active + .dropdown-menu{
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.down-arrow-icon-box .inactive + .dropdown-menu{
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
}*/

.dropdown-menu.active{
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
.dropdown-menu.inactive{
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
} 
 


.down-arrow-icon-box.active .down-arrow-icon path{
  fill: var(--primary-red);
}


.down-arrow-icon-box:focus + .down-arrow-icon-box-cross {
  opacity: 1;
  pointer-events: auto;
}

/* .down-arrow-icon-box:focus ~ .dropdown-menu,
.dropdown-menu:hover {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
} */




.dropdown-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  right: 0;
  width: 10rem;
  top: calc(100% + 1.5rem);
  gap: .8rem;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  overflow: hidden;
}

.dropdown-menu > li {
  width: 100%;
  border-radius: 10px;
}

.dropdown-menu > li a {
  position: relative;
  display: block;
  text-decoration: none;
  color: white;
  font-weight: 300;
  width: 100%;
  height: 3rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(49, 49, 49, 0.925);
  cursor: pointer;
}

.dropdown-menu > li a.active,
.dropdown-menu > li a:hover {
  color: white;
  background-color: var(--primary-cyan);
}

.dropdown-menu > li.Home {
  display: none;
}
.dropdown-menu > li.About {
  display: none;
}
.dropdown-menu > li.Work {
  display: none;
}
.dropdown-menu > li.Projects {
  display: none;
}

@media (max-width: 450px) {



  .navbar-items-list {
    margin: 0;
    justify-content: space-around;
  }
  .navbar-items-list > li.Home {
    display: none;
  }
  .navbar-items-list > li.About {
    display: none;
  }
  .navbar-items-list > li.Work {
    opacity: 0;
    pointer-events: none;
  }
  .navbar-items-list > li.Projects {
    opacity: 0;
    pointer-events: none;
  }

  .dropdown-menu > li.Home {
    display: block;
  }
  .dropdown-menu > li.About {
    display: block;
  }
  .dropdown-menu > li.Work {
    display: block;
  }
  .dropdown-menu > li.Projects {
    display: block;
  }
}